.custom-button, .custom-button-register {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #0076bd;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: white; 
  }

  .custom-button-register {
    margin-top: 10%;
    margin-left: 28%;
  }
  
  button:hover {
    background: #0d91e4;
  }
  
  button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
  }
  
  button:hover svg {
    transform: translateX(5px);
  }
  
  button:active {
    transform: scale(0.95);
  }

  .map {
    height: 350px;
    width: 90%;
  }

  .derecha{
    margin-left: 475px;
  }
  .users-dropdown {
    position: absolute;
    top: 0;
    right: -1000px;
    background-color: white;
    border-left: 1px solid #0076bd;
    border-top: 1px solid #0076bd;
    border-bottom: 1px solid #0076bd;
    padding: 10px;
    transition: right 0.3s;
    width: 20%;
    height: 60%; 
    overflow-y: auto; 
    z-index: 1100;
    position: fixed;
    bottom: 0;
    margin-top: 12%;
}

.users-dropdown h4 {
  margin-top: 50%;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100%;
  color: #000000;
}

.users-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    color: #000000;
}

  