body {
    background-color: #ffffff; /* Azul claro relacionado con el mar */
    color: #FFF; /* Texto en color blanco */
}
.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1101; /* Asegura que esté por encima del resto del contenido */
}

.navbar {
    background-color: #0076bd; /* Turquesa para la barra de navegación */
    z-index: 1101;
}
.footer {
    background-color: #0076bd; /* Turquesa para el footer */
    color: #FFF; /* Texto en color blanco */
    padding: 20px 0;
    position: sticky;
    z-index: 1101;

}
.btn-primary {
    background-color: #87CEEB;
    border-color: #FFF;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #63C5DA; /* Azul más claro al pasar el ratón */
    border-color: #63C5DA;
}
.bg-secondary {
    background-color: #faf3e0; /* Color similar al de la arena de la playa */
}

.btn-warning {
    background-color: #fdd835; /* Color amarillo suave similar al de la arena de la playa */
    border-color: #fdd835; /* Color del borde similar al del botón */
    color: #fff; /* Color del texto en los botones */
}

.nav-tabs {
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
}

.nav-link {
width: 50%;
text-align: center;
}
.contenido {
    margin-top: 100px;
}